<?xml version ="1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- Add entry to enable component scanning -->
	<context:component-scan
		base-package="com.asahi.bank" />

<!--   <bean id="savings account"
		class="com.asahi.bank.entities.SavingsAccount"></bean>
		
	<bean id="loan account"
		class="com.asahi.bank.entities.LoanAccount"></bean>

	<bean id="user" class="com.asahi.bank.entities.User"></bean>
	<bean id="userManager" class="com.asahi.bank.manager.UserManager"></bean>
	<bean id = "accountManager" class="com.asahi.bank.manager.AccountManager"></bean>
	
	 -->
	
	<bean id="mySavingsAccount"
		class="com.asahi.bank.GenerateAccounts">
		<constructor-arg ref ="savings account" />
	</bean>
	<bean id="myLoanAccount"
		class="com.asahi.bank.GenerateAccounts">
		<constructor-arg ref ="loan account" />
	</bean> 

</beans> 